#module: sub1
#function: recv_data2
#channel: v0
#type: nb
#dst_channel: v1
#
#module: sub1
#function: send_data
#channel: v0
#type : nb
#dst_channel: v1

##module: dut
##function: func2_nblk_imp_h2sOnly 
##channel: v0
##type : nb
###dst_channel: v1
##
##module: dut
##function: func3_nblk_exp_h2s_s2h
##channel: v0
##type : nb
##
##
##module: dut
##function: func4_nblk_exp_s2h_only
##channel: v0
##type : nb
